In [ ]:
#Q: write a recursive function that given an input n, sums all non negative integer upto n

In [ ]:
"""12
1,2,3,4,5,6,7,8,9,10,11,12

n =  12
sum(12)= sum(11)+12
sum(11)= sum(10)+11
sum(10)= sum(9)+10
sum(9)= sum(8)+9
sum(8)= sum(7)+8
sum(7)= sum(6)+7
sum(6)= sum(5)+6
sum(5)= sum(4)+5
sum(4)= sum(3)+4
sum(3)= sum(2)+3
sum(2)= sum(1)+2
sum(1)= 1
"""

def sum(n):
  if n==1:
    return 1
  return sum(n-1)+n


sum(5)

15

In [ ]:
##method 2:
def sum(n):
  return n*(n+1)/2

sum(5)

15.0

In [ ]:
# write a function that takes two inputs n and m and outputs the number of unique paths from m*n grid.
#Constraits :movement can be from move down or right

In [ ]:
"""
(3,4)=(3,3)+(2,4)=6+4=10
(3,3)=(3,2)+(2,3)=3+3=6
(3,2)=(2,2)+(3,1)=2+1=3
(2,2)=(2,1)+(1,2)=1+1=2
(2,3)=(1,3)+(2,2)=1+2=3
(2,4)=(1,4)+(2,3)=1+3=4
"""
def grid_path(m,n):
  if n==1 or m ==1:
    return 1
  return grid_path(m-1,n)+grid_path(m,n-1)

grid_path(3,4)

10

In [ ]:
#write a function that counts the number of way you can partition n objects using upto m parts(assuming>=0)

In [25]:
"""
(9,5)=(9,4)+(4,5)=5+18=23
(9,4)=(9,3)+(5,4)=12+6=18
(9,3)=(9,2)+(6,3)=7+5=12
(9,2)=(9,1)+(7,2)=1+4
(9,1)=(9,0)+(8,1)=0+1=1
(9,0)=0

(4,5)=(4,4)+(-1,5)=0+5=5

(4,4)=(4,3)+(0,4)=1+4=5
(4,3)=(4,2)+(1,3)=3+1=4
(4,2)=(4,1)+(2,2)=1+2=3
(4,1)=(4,0)+(3,1)=0+1=1
(3,1)=(3,0)+(2,1)=0+1=1
(2,1)=(1,1)+(2,0)=1+0=1
(1,1)=(0,1)+(1,0)=1+0=1

(2,2)=(0,2)+(2,1)=1+1=2

(1,3)=(1,2)+(-2,3)=1+0=1
(1,2)=(1,1)+(-1,2)=1+0=1

"""




def count_partition(n,m):
  if n==0:
    return 1;
  elif m==0 or n<0:
    return 0
  return count_partition(n-m,m)+count_partition(n,m-1)


count_partition(9,5)

23